<dx-data-grid
id="gridContainerSku"
[dataSource]="skus"
[showBorders]="true"
keyExpr="id"
(onSaved)="onSavedSku($event)"
(onEditingStart)="skuEdit($event)"
(onEditCanceled)="cancelSkuEditing()"
>
<dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    
<dxo-filter-row [visible]="true"></dxo-filter-row>
<dxo-header-filter [visible]="true"></dxo-header-filter>
<dxo-group-panel [visible]="true"></dxo-group-panel>
<dxo-scrolling mode="virtual"></dxo-scrolling>

<dxo-paging [enabled]="false"></dxo-paging>
<dxo-editing
  mode="form"
  [allowUpdating]="true"
  [allowDeleting]="true"
  [useIcons]="true"
>
  <dxo-form>
    <dxi-item itemType="group" caption="Sku" name="prodEdit">
      <dxi-item dataField="name"></dxi-item>
      <dxi-item dataField="description"></dxi-item>
      <dxi-item dataField="price"></dxi-item>
      <dxi-item dataField="active" dataType="boolean" type="boolean"></dxi-item>
    </dxi-item>



    <dxi-item itemType="group" caption="Imagens do Sku" name="skus-container">
  
      <dx-data-grid
      id="gridSkuContainer"
      keyExpr="id"
      [dataSource]="skuEditingImages"
      [showBorders]="true"    
      (onSaved)="onSavedImages($event)"
      (onRowRemoved)="deleteImage($event)"
      >
      <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-editing
        [allowDeleting]="true"
        [allowUpdating]="true"
        [allowAdding]="true"
        [useIcons]="true"
        mode="row"
      >
      </dxo-editing>
      <dxi-column type="buttons" [width]="90">
      <dxi-button name="delete"></dxi-button>
      <dxi-button name="adding"></dxi-button>
      <dxi-button name="edit"></dxi-button>
      </dxi-column>

      <dxi-column 
        name="droplol" 
        dataField="url" 
        caption="Imagem" 
        [setCellValue]="setCellValue"
        (selectedFilterOperationChange)="onEditorPreparing($event)"
      >
        <dxo-lookup
          [dataSource]="fileUploads" 
          valueExpr="id"
          displayExpr="name" 
        >
        </dxo-lookup>                
      </dxi-column>

      <dxi-column dataField="name" [allowEditing]="false" caption="Nome"></dxi-column>
      <dxi-column dataField="url" [allowEditing]="false" caption="Url" cellTemplate="cellTemplate"></dxi-column>
      <div *dxTemplate="let data of 'cellTemplate'">
        <a [href]="'http://'+data.value" target="_blank">{{data.value}}</a>
      </div>
      </dx-data-grid>
    </dxi-item>




  </dxo-form>
</dxo-editing>

<dxi-column type="buttons" [width]="110">
  <dxi-button name="edit"></dxi-button>
  <dxi-button name="delete"></dxi-button>
</dxi-column>


<dxi-column dataField="id" caption="id"></dxi-column>
<dxi-column dataField="name" caption="Sku Nome"></dxi-column>
<dxi-column dataField="description" caption="Sku Desc."></dxi-column>
<dxi-column dataField="active" caption="Ativo"></dxi-column>
<dxi-column dataField="price" caption="Preço" [allowAdding]="true"></dxi-column>
</dx-data-grid>