<!-- <mat-sidenav-container>
    <mat-sidenav opened mode="side">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['order']">Page One</a>
        <a mat-list-item [routerLink]="['client']">Page Two</a>
        <a mat-list-item [routerLink]="['page-three']">Page Three</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->


<mat-toolbar>
<button mat-icon-button *ngIf="sidenav.mode ==='over'" (click)="sidenav.toggle()">asdasd
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
</button>
Empose
<span class="flexExpand"></span>
<button mat-icon-button routerLink="/login" (click)="logout()">Sair</button>

</mat-toolbar>
<mat-sidenav-container>

<mat-sidenav #sidenav="matSidenav" >

    <img src="assets/images/e3.png" alt="logo" class="avatar mat-elevation-z8" mat-button (click)="getUser()">
    

    <h4 class="name">Olá, {{username}}</h4>
    <h5 class="designation">{{userRole}}</h5>


    <mat-divider></mat-divider>

    <button mat-button class="menu-button" [routerLink]="['home']">
        <mat-icon>insert_chart_outlined</mat-icon>
        <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['order']">
        <mat-icon>local_mall</mat-icon>
        <span>Pedidos</span>
    </button>

    <button mat-button class="menu-button" [routerLink]="['client']">
        <mat-icon>people_outline</mat-icon>
        <span>Clientes</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['product']" >
        <img src="assets/images/product.png" alt="logo" class="product">
        <span>Produtos</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['uploads']" >
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload</span>
    </button>

    <button mat-button class="menu-button" [routerLink]="['email']">
        <mat-icon>mail_outline</mat-icon>
        <span>Email</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['users']">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Usuários</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['payment-methods']">
        <mat-icon>credit_card</mat-icon>
        <span>Meios de Pagamento</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['configs']">
        <mat-icon>build</mat-icon>
        <span>Configurações</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" onclick="window.open('https://documenter.getpostman.com/view/8381677/2s7YYx31dh')">
        <mat-icon>help_outline</mat-icon>
        <span>API Doc</span>
    </button>        
</mat-sidenav>

<mat-sidenav-content>
    <div class="content mat-elevation-z4">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-content>
</mat-sidenav-container>
