<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode ==='over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    Empose
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav="matSidenav">

        <img src="assets/images/e3.png" alt="logo" class="avatar mat-elevation-z8">
        <h4 class="name">Daniel Santos</h4>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/home">
            <mat-icon>insert_chart_outlined</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="/order">
            <mat-icon>local_mall</mat-icon>
            <span>Pedido</span>
        </button>
        <button mat-button class="menu-button" routerLink="/client">
            <mat-icon>people_outline</mat-icon>
            <span>Cliente</span>
        </button>
        <button mat-button class="menu-button" routerLink="/product">
            <img src="assets/images/product.png" alt="logo" class="product">
            <span>Produto</span>
        </button>
        <button mat-button class="menu-button" routerLink="/email">
            <mat-icon>mail_outline</mat-icon>
            <span>Email</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/documentation">
            <mat-icon>help_outline</mat-icon>
            <span>API Doc</span>
        </button>        
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
