<!-- <ng-template ngbNavContent> -->
    <h1>Uploads</h1>
    <dx-data-grid
      id="gridContainer"
      [dataSource]="uploads"
      [showBorders]="true"
      keyExpr="id"
      (onSaved)="onSavedClient($event)"
      (onRowRemoved)="onRemovedClient($event)"      
    >
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
        
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
  
    <dxo-paging [enabled]="true" [pageSize]="5"> </dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="'full'"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
      >
    </dxo-pager>

    <dxo-editing
      mode="row"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [useIcons]="true"
    ></dxo-editing>
  
    <dxi-column type="buttons" [width]="110">
      <dxi-button name="edit"></dxi-button>
      <dxi-button name="delete"></dxi-button>
    </dxi-column>
    <dxi-column dataField="id" caption="Id" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="name" caption="Nome"></dxi-column>
    <dxi-column dataField="path" caption="Caminho" width="500" [allowEditing]="false" cellTemplate="cellTemplate" [allowFiltering]="false"
    [allowSorting]="false">

    </dxi-column>
    <dxi-column dataField="created_at" type="date" caption="Criação" dataType="date" [allowEditing]="false"></dxi-column>

    <div *dxTemplate="let data of 'cellTemplate'">
      <a [href]="'http://'+data.value" target="_blank">{{data.value}}</a>
    </div>
  </dx-data-grid>
  <div class="row d-flex justify-content-center align-items-center h-50">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card text-black" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <div class="mb-md-5 mt-md-4 pb-5">
            <form
                id="form" 
                #form
                method="post"
                action="" 
                enctype="multipart/form-data"
            >
                <h3>Upload de fotos</h3> 
                <div id="fileuploader-container">
                  <dx-file-uploader
                    class="border border-ligth"
                    #fileUploader
                    selectButtonText="Select photo"
                    name="file"
                    labelText=""
                    allowedFileExtensions: ['.jpg', '.jpeg', '.gif', '.png', '.mp4', '.wav', '.mp3']
                    uploadMode="useButtons"
                    (onUploadStarted)="startUpload($event)"
                  >
                  </dx-file-uploader>
                </div>
                <!-- <dx-button
                  id="button"
                  text="Upload file"
                  type="submit"
                >
                </dx-button> -->
            </form>
    </div>
  </div>
  </div>
  </div>
  </div>