<!-- <ng-template ngbNavContent> -->
    <h1>Usuários do Sistema</h1>
    <dx-data-grid
      id="gridContainer"
      [dataSource]="users"
      [showBorders]="true"
      keyExpr="id"
      (onSaved)="onSavedUser($event)"
      (onRowRemoved)="onRemovedUser($event)"
    >
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
        
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
  
    <dxo-paging [enabled]="true" [pageSize]="5"> </dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="'full'"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
      >
    </dxo-pager>
    <dxo-editing
      mode="form"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [useIcons]="true"
      [allowAdding]="true"
    >
    <dxo-form>
        <dxi-item dataField="name" [allowEditing]="false"></dxi-item>
        <dxi-item dataField="email" caption="Email" [width]="125"></dxi-item>
        <dxi-item dataField="password" caption="Cancelar" [customizeText]="customizeText"></dxi-item>
        <dxi-item dataField="role" caption="Cancelar"></dxi-item>
    </dxo-form>
  
  </dxo-editing>
  
    <dxi-column type="buttons" [width]="110">
      <dxi-button name="edit"></dxi-button>
      <dxi-button name="delete"></dxi-button>  
    </dxi-column>
    <!-- <dxi-column dataField="id" caption="Id"></dxi-column> -->
    <dxi-column dataField="name" caption="Nome"></dxi-column>
    <dxi-column dataField="email" caption="Email"></dxi-column>
    <dxi-column dataField="password" caption="Senha" [customizeText]="customizeText" [allowEditing]="sessionUser.role == 1 || sessionUser.role == 2"></dxi-column>
    <dxi-column dataField="role" caption="Função" [allowEditing]="sessionUser.role == 1">
      <dxo-lookup [dataSource]="userRoles" displayExpr="name" valueExpr="id">
      </dxo-lookup>
    </dxi-column>
    
  </dx-data-grid>
  
 