<h1>Configurações</h1>
<dx-data-grid
    id="gridContainer"
    [dataSource]="[config]"
    [showBorders]="true"
    keyExpr="id"
    (onSaved)="onSubmit($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
>
<dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    
<dxo-filter-row [visible]="true"></dxo-filter-row>
<dxo-header-filter [visible]="true"></dxo-header-filter>
<dxo-group-panel [visible]="true"></dxo-group-panel>
<dxo-scrolling mode="virtual"></dxo-scrolling>

<dxo-paging [enabled]="true" [pageSize]="10"> </dxo-paging>
<dxo-pager
    [visible]="true"
    allowedPageSizes="1"
    [displayMode]="'full'"
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
    >
</dxo-pager>
<dxo-editing
    mode="form"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [useIcons]="true"
    [allowAdding]="true"
></dxo-editing>

<dxi-column type="buttons" [width]="110">
    <dxi-button name="edit"></dxi-button>
    <dxi-button name="delete"></dxi-button>
</dxi-column>
<dxi-column dataField="email_host" caption="Email host"></dxi-column>
<dxi-column dataField="email_port" caption="Email porta"></dxi-column>
<dxi-column dataField="email_username" caption="Email usuário"></dxi-column>
<dxi-column dataField="email_password" caption="Email senha" [visible]="false" [formItem]="{visible: true}"></dxi-column>
</dx-data-grid>