<h1>Produtos</h1>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Produto</a>
      <ng-template ngbNavContent>

        <dx-data-grid
          id="gridContainer"
          [dataSource]="products"
          [showBorders]="true"
          keyExpr="id"
          (onExporting)="onExporting($event)"
          (onSaved)="onSavedProduct($event)"
          (onEditingStart)="productEditing($event)"
          (onEditCanceled)="cancelProducEditing()"
          (onRowRemoved)="deleteProduct($event)"
        >
        <dxo-paging [enabled]="true" [pageSize]="10"> </dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]="allowedPageSizes"
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
          >
        </dxo-pager>
        <dxo-editing
          mode="form"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [useIcons]="true"
          [allowAdding]="true"
          
        >
        <!-- edit -->
        <dxo-form>
        
            <dxi-item itemType="group" caption="Produto" name="prodEdit">
                <dxi-item dataField="name"></dxi-item>
                <dxi-item dataField="description"></dxi-item>
                <dxi-item dataField="discount" ></dxi-item>
                <!-- <dxi-item
                  name="catName"
                  isRequired="true"
                  dataField="Categoria"
                  editorType="dxSelectBox"
                  [editorOptions]="{dataSource: categories, value: getValue(), onSelectionChanged: onSelectionChanged, valueExpr:'id', displayExpr: 'name'}"
                  >
                </dxi-item> -->
                <dxi-item dataField="category.id" [allowEditing]="false">
                  <dxo-lookup [dataSource]="categories" displayExpr="name" valueExpr="id">
                  </dxo-lookup>
                </dxi-item>
                <!-- PAREI AQUI -->
                <dxi-item dataField="active" dataType="boolean" type="boolean"></dxi-item>
            </dxi-item>
<!-- ---------------------------GRID------------------------------- -->
            <dxi-item itemType="group" caption="Skus" name="skus-container">
        
              <dx-data-grid
              id="gridContainerPro"
              keyExpr="id"
              [dataSource]="prodSkus"
              [showBorders]="true"
              (onSaved)="getSku($event)"
            >
              <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-header-filter [visible]="true"></dxo-header-filter>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-editing
                [allowUpdating]="true"
                [allowAdding]="true"
                [useIcons]="true"
                mode="row"
              >
              </dxo-editing>
              <dxi-column type="buttons" [width]="90">
              <dxi-button name="delete"></dxi-button>
              <dxi-button name="adding"></dxi-button>
              <dxi-button name="edit"></dxi-button>
              </dxi-column>


              <!-- <dxi-column dataField="id" [allowEditing]="false"></dxi-column> -->
              <dxi-column dataField="name" caption="Nome" [setCellValue]="setCellValue">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
              <dxi-column dataField="description" caption="Descrição"></dxi-column>
              <dxi-column dataField="price" caption="Preço" dataType="number">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
              <dxi-column dataField="active" caption="Ativo" dataType="boolean"></dxi-column>
              </dx-data-grid>
            </dxi-item>

        </dxo-form>
        </dxo-editing>
      <!-- fim edit -->
        <dxi-column type="buttons" [width]="110">
        <dxi-button name="edit"></dxi-button>
        <dxi-button name="delete"></dxi-button>
        </dxi-column>

        <dxi-column dataField="id" [width]="70" caption="Id"></dxi-column>
        <dxi-column dataField="name" caption="Nome">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="description" caption="Descrição"></dxi-column>
        <dxi-column dataField="discount" caption="Desconto"></dxi-column>
        <dxi-column dataField="category.id" [allowEditing]="true" caption="Categoria">
          <dxo-lookup [dataSource]="categories" displayExpr="name" valueExpr="id">
          </dxo-lookup>
        </dxi-column>          
        <dxi-column dataField="active" caption="Ativo" dataType="boolean"></dxi-column>
        <dxi-column dataField="created_at" caption="Data Criação" dataType="date"></dxi-column>
 



    </dx-data-grid>
    </ng-template>
  </li>

  <li [ngbNavItem]="2">
    <a ngbNavLink>SKU</a>
    <ng-template ngbNavContent>
      <app-sku></app-sku>
    </ng-template>
  </li>

  <li [ngbNavItem]="3">
    <a ngbNavLink>Categoria</a>
    <ng-template ngbNavContent>
      <app-category></app-category>
    </ng-template>
  </li>

  <li [ngbNavItem]="4">
    <a ngbNavLink>Inventário</a>
    <ng-template ngbNavContent>
      <app-inventory></app-inventory>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

