<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-black" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-black-50 mb-5">Por favor, entre com seu email e senha!</p>
                <!-- *ngIf="!isLoggedIn" -->
                <form                    
                    name="form"
                    (ngSubmit)="f.form.valid && onSubmit()"
                    #f="ngForm"
                    novalidate
                >
                    <div class="form-outline form-black mb-4">
                        <div class="form-group">
                            <input
                            type="text"
                            class="form-control form-control-lg"
                            name="email"
                            [(ngModel)]="form.email"
                            required
                            #email="ngModel"
                            />
                            <div
                            class="alert alert-danger"
                            role="alert"
                            *ngIf="email.errors && f.submitted"
                            >
                            Email is required!
                            </div>
                        </div>
                        <label class="form-label" for="typeEmailX">Email</label>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                        <div class="form-group">
                            <input
                              type="password"
                              class="form-control form-control-lg"
                              name="password"
                              [(ngModel)]="form.password"
                              required
                              minlength="4"
                              #password="ngModel"
                            />
                            <div
                              class="alert alert-danger"
                              role="alert"
                              *ngIf="password.errors && f.submitted"
                            >
                              <div *ngIf="password.errors?.['required']">Senha requerida</div>
                              <div *ngIf="password.errors?.['minlength']">
                                Senha deve conter ao menos 4 caracteres
                              </div>
                            </div>
                          </div>
                        <label class="form-label" for="typePasswordX">Senha</label>
                    </div>
    
                    <p class="small mb-5 pb-lg-2"><a class="text-black-50" href="#!">Esqueceu a senha?</a></p>
    
                      <div class="form-group">
                        <button class="btn btn-outline-dark btn-lg px-5">
                          Login
                        </button>
                      </div>
                      <div class="form-group">
                        <div
                          class="alert alert-danger"
                          role="alert"
                          *ngIf="f.submitted && isLoginFailed"
                        >
                          Login failed: {{ errorMessage }}
                        </div>
                    </div>
                </form>
                <!-- <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div> -->
  
              </div>
  
              <div>
                <p class="mb-0">Não tem uma conta? <a routerLink="/register" class="text-black-50 fw-bold">Cadastre-se</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
