<!-- <ng-template ngbNavContent> -->
  <h1>Clientes</h1>
  <dx-data-grid
    id="gridContainer"
    [dataSource]="clients"
    [showBorders]="true"
    keyExpr="id"
    (onSaved)="onSavedClient($event)"
    (onRowRemoved)="onRemovedClient($event)"
  >
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
      
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>

  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-editing
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [useIcons]="true"
    [allowAdding]="true"
  ></dxo-editing>

  <dxi-column type="buttons" [width]="110">
    <dxi-button name="edit"></dxi-button>
    <dxi-button name="delete"></dxi-button>

  </dxi-column>
  <!-- <dxi-column dataField="id" caption="Id"></dxi-column> -->
  <dxi-column dataField="name" caption="Nome"></dxi-column>
  <dxi-column dataField="email"></dxi-column>
  <dxi-column dataField="cpf"></dxi-column>
  <dxi-column dataField="phone_number" caption="Telefone"></dxi-column>
  <dxi-column dataField="address[0].address" [width]="130" caption="Endereço"></dxi-column>
  <dxi-column dataField="address[0].city" [width]="130" caption="Cidade"></dxi-column>
  <dxi-column dataField="address[0].state" [width]="125" caption="Estado"></dxi-column>
  <dxi-column dataField="address[0].zip_code" [width]="125" caption="CEP"></dxi-column>
  <dxi-column dataField="false" dataType="boolean" [width]="125" caption="">
  </dxi-column>
    <!-- <dxo-lookup
      [dataSource]="clients"
      displayExpr="name"
      valueExpr="name"
      id="clients.id"
    ></dxo-lookup> -->
  
</dx-data-grid>


<!-- </ng-template> -->



<!-- <h1>Clientes</h1>
<dx-data-grid
  id="gridContainer"
  [customizeColumns]="customizeColumns"
  [dataSource]="clients"
  keyExpr="id"
  [showBorders]="true"
  [columns]="[
  { dataField: 'name', caption: 'Nome' }, 
  { dataField: 'email', caption: 'Email' }, 
  { dataField: 'cpf', caption: 'Cpf' }, 
  { dataField: 'phoneNumber', caption: 'Telefone' }, 
  { dataField: 'address[0].city', caption: 'Cidade' }, 
  { dataField: 'address[0].state', caption: 'Estado' }, 
  { dataField: 'address[0].zipCode', caption: 'CEP' }]"
>
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>

  <dxo-editing
    mode="row"
    [allowDeleting]="true"
    [useIcons]="true"
  ></dxo-editing>

  <dxo-paging [pageSize]="10"> </dxo-paging>
  <dxo-pager
    [visible]="true"
    [allowedPageSizes]="allowedPageSizes"
    [displayMode]="'full'"
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
  >
  </dxo-pager>
</dx-data-grid> -->

