<h1>Pedidos</h1>

<dx-data-grid
id="gridContainer"
[dataSource]="orders"
[showBorders]="true"
keyExpr="id"
(onExporting)="onExporting($event)"
(onEditingStart)="orderEditing($event)"
(onEditCanceled)="cancelOrderEditing()"
>
<dxo-paging [enabled]="true" [pageSize]="5"> </dxo-paging>
<dxo-pager
  [visible]="true"
  [allowedPageSizes]="allowedPageSizes"
  [displayMode]="'full'"
  [showPageSizeSelector]="true"
  [showInfo]="true"
  [showNavigationButtons]="true"
>
</dxo-pager>

<dxo-editing
mode="form"
[allowUpdating]="true"
[useIcons]="true"
>
<dxo-form
>

  <dxi-item itemType="group" caption="Pedido" name="prodEdit">
      <!-- <dxi-item dataField="name"></dxi-item>
      <dxi-item dataField="description"></dxi-item>
      <dxi-item dataField="discount" ></dxi-item> -->
      <!-- <dxi-item
        name="catName"
        dataField="Categoria"
        editorType="dxSelectBox"
        [editorOptions]="{dataSource: categories, placeholder: categoryEditing.name, onSelectionChanged: onSelectionChanged, valueExpr:'id', displayExpr: 'name'}"
        >
      </dxi-item>  -->
      <dxi-item dataField="status" [allowEditing]="false"></dxi-item>
      <dxi-item dataField="delivery_status" caption="opaaaaa" [width]="125">
        <dxo-lookup [dataSource]="statusEnum" displayExpr="idd" valueExpr="names">
        </dxo-lookup>
      </dxi-item>
      <dxi-item dataField="canceled" ></dxi-item>
  </dxi-item>
  <dxi-item itemType="group" caption="Skus" name="skus-container">



    <!-- <dx-data-grid
    id="gridContainerPro"
    keyExpr="id"
    [dataSource]="prodSkus"
    [showBorders]="true"
    (onRowRemoved)="deleteRow()"
  >
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing
      [allowDeleting]="true"
      [allowUpdating]="true"
      [allowAdding]="true"
      [useIcons]="true"
      mode="popup"
    >
    </dxo-editing>
    <dxi-column type="buttons" [width]="90">
    <dxi-button name="delete"></dxi-button>
    <dxi-button name="adding"></dxi-button>
    </dxi-column>

    <dxi-column 
      name="droplol" 
      dataField="description" 
      caption="Skus" 
      [setCellValue]="setCellValue"
      (selectedFilterOperationChange)="onEditorPreparing($event)"
    >
      <dxo-lookup
        [dataSource]="sku" 
        valueExpr="id"
        displayExpr="name" 
      >
      </dxo-lookup>                
    </dxi-column>

    <dxi-column dataField="id" allowEditing="false"></dxi-column>
    <dxi-column dataField="name" allowEditing="false"></dxi-column>
    <dxi-column dataField="description" allowEditing="false"></dxi-column>

    </dx-data-grid> -->

  </dxi-item>

</dxo-form>
</dxo-editing>

<dxi-column type="buttons" [width]="110">
<dxi-button name="edit"></dxi-button>
<dxi-button name="delete"></dxi-button>
</dxi-column>

<dxi-column dataField="id" [width]="70" caption="Id"></dxi-column>
<dxi-column dataField="client.name" caption="Cliente"></dxi-column>
<dxi-column dataField="status" caption="Status Pagamento" [width]="230"></dxi-column>
<dxi-column dataField="delivery_status" caption="Status Entrega">
    <dxo-lookup [dataSource]="statusEnum" displayExpr="name" valueExpr="id">
    </dxo-lookup>
</dxi-column>
<dxi-column dataField="total" caption="Total"></dxi-column>

<!-- <dxi-column dataField="category.name" name="categoDetais" caption="Categoria" [width]="125">
</dxi-column>           -->
<dxi-column dataField="created_at" caption="Data Criação" dataType="date"></dxi-column>
<dxi-column dataField="canceled" caption="Cancelada" [width]="100"></dxi-column>

<!-- <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export> -->


</dx-data-grid>

<!-- <dxo-lookup [dataSource]="categories" displayExpr="name" valueExpr="id">
</dxo-lookup> -->
    <!-- <dx-select-box name="skuList" [dataSource]="sku" valueExpr="id" displayExpr="name" (onSelectionChanged)="onSelectionChangedSkus($event)"></dx-select-box> -->