<h1>Pedidos</h1>

<dx-data-grid
id="gridContainer"
[dataSource]="orders"
[showBorders]="true"
keyExpr="id"
(onExporting)="onExporting($event)"
(onEditingStart)="orderEditing($event)"
(onEditCanceled)="cancelOrderEditing()"
(onSaved)="saveOrder($event)"
>
<dxo-paging [enabled]="true" [pageSize]="5"> </dxo-paging>
<dxo-pager
  [visible]="true"
  [allowedPageSizes]="allowedPageSizes"
  [displayMode]="'full'"
  [showPageSizeSelector]="true"
  [showInfo]="true"
  [showNavigationButtons]="true"
>
</dxo-pager>

<dxo-export
[enabled]="true"
[formats]="['pdf']"
[allowExportSelectedData]="true"
></dxo-export>

<dxo-editing
mode="form"
[allowUpdating]="true"
[useIcons]="true"
>
<dxo-form>

  <dxi-item itemType="group" caption="Pedido" name="prodEdit">
      <dxi-item dataField="status" [allowEditing]="false">
        <dxo-lookup [dataSource]="deviveryStatusEnum" displayExpr="name" valueExpr="id">
        </dxo-lookup>
      </dxi-item>

      <dxi-item dataField="delivery_status" caption="Status Entrega" [width]="125">
        <dxo-lookup [dataSource]="statusEnum" displayExpr="name" valueExpr="id">
        </dxo-lookup>
      </dxi-item>

      <dxi-item dataField="canceled" caption="Cancelar"></dxi-item>
  </dxi-item>

  <dxi-item itemType="group" caption="Items" name="items-container">

    <dx-data-grid
    id="gridContainerPro"
    keyExpr="id"
    [dataSource]="orderItems"
    [showBorders]="true"
    (onRowRemoved)="deleteItemRow()"
  >
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing
      [allowUpdating]="true"
      [allowAdding]="true"
      [useIcons]="true"
      mode="popup"
    >
    </dxo-editing>
    <dxi-column type="buttons" [width]="90">
    <dxi-button name="delete"></dxi-button>
    <dxi-button name="adding"></dxi-button>
    </dxi-column>

    <dxi-column dataField="name" caption="Nome" allowEditing="false"></dxi-column>
    <dxi-column dataField="description" caption="Descrição" allowEditing="false"></dxi-column>
    <dxi-column dataField="price" caption="Preço" allowEditing="false"></dxi-column>
    <dxi-column dataField="quantity" caption="Quantidade" allowEditing="false"></dxi-column>

    </dx-data-grid>

  </dxi-item>

</dxo-form>
</dxo-editing>

<dxi-column type="buttons" [width]="110">
<dxi-button name="edit"></dxi-button>
<dxi-button name="delete"></dxi-button>
</dxi-column>

<dxi-column dataField="id" [width]="70" caption="Id"></dxi-column>
<dxi-column dataField="client.name" caption="Cliente"></dxi-column>
<dxi-column dataField="status" caption="Status Entrega" [width]="230">
  <dxo-lookup [dataSource]="deviveryStatusEnum" displayExpr="name" valueExpr="id">
  </dxo-lookup>
</dxi-column>
<dxi-column dataField="delivery_status" caption="Status Pagamento">
    <dxo-lookup [dataSource]="statusEnum" displayExpr="name" valueExpr="id">
    </dxo-lookup>
</dxi-column>
<dxi-column dataField="payment.name" caption="Pagamento"></dxi-column>
<dxi-column dataField="total" caption="Total"></dxi-column>

<dxi-column dataField="created_at" caption="Data Criação" dataType="date"></dxi-column>
<dxi-column dataField="canceled" caption="Cancelada" [width]="100"></dxi-column>

</dx-data-grid>
